@tailwind base;
@tailwind components;
@tailwind utilities;

 
body {
    @apply bg-gray-900 flex items-center justify-center min-h-screen;
    background: radial-gradient(circle at 20% 30%, #28313B, #485461);
    overflow: hidden;
}

 
.background-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/static/images/7LDs.gif') center/cover no-repeat;
    opacity: 0.2;
    z-index: -1;
}

 
.search-container {
    @apply bg-white bg-opacity-10 backdrop-blur-lg rounded-xl shadow-xl p-10 text-center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 500px;
}

 
.search-title {
    @apply text-white text-3xl font-semibold mb-6;
}

 
label {
    @apply text-gray-300 text-lg font-semibold;
}

input[type="text"] {
    @apply w-full text-white p-3 mt-4 mb-4 bg-white bg-opacity-20 border-none rounded-lg focus:outline-none;
}

 
.search-btn {
    @apply w-full p-3 bg-blue-500 text-white font-semibold rounded-lg shadow-lg transition-all duration-300 ease-in-out;
    box-shadow: 0px 0px 15px rgba(0, 100, 255, 0.5);
}

.search-btn:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #0093E9 0%, #80D0C7 100%);
}

 
.loading-animation {
    @apply text-white text-lg mt-6;
}

 
.search-results {
    @apply mt-6 p-4 text-white bg-gray-800 rounded-lg shadow-lg;
    display: none;
}

 
.loading-animation {
    @apply text-white text-lg mt-6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-animation p {
    @apply mb-4 text-white font-semibold text-xl;
}

 
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-spinner {
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-top: 4px solid #00d1ff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
 

.button-search {
    background-color: #43cde6;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}