<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Resumes</title>
    <link rel="stylesheet" href="/static/css/stylesearch.css">
    <link rel="stylesheet" href="/static/css/search.css">
</head>
<body>

    <!-- רקע דינמי -->
    <div class="background-animation"></div>

    <!-- תיבת חיפוש מרכזית -->
    <div class="search-container">
        <h1 class="search-title">Search Resumes</h1>
        <!-- שימוש בשורת ה-POST החייבת -->
        <form action="/search/{{ filename }}" method="POST">
            <input type="text" name="search" placeholder="Enter job requirements" required>
            <button type="submit">Submit</button>
        </form>
        

        <!-- אנימציית טעינת תוצאות -->
        <div id="loadingAnimation" class="loading-animation" style="display: none;">
            <p>Searching...</p>
            <div class="loading-spinner"></div>
        </div>
        

        <!-- תוצאות חיפוש -->
        <div id="searchResults" class="search-results"></div>
    </div>

    <script src="/static/js/search.js"></script>
</body>
</html>
