<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Your Files</title>
    <link rel="stylesheet" href="/static/css/uplod.css">
    <link rel="stylesheet" href="/static/css/styleupload.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
</head>
<body>

    <div class="background-animation"></div>


    <div class="upload-container">
        <h1 class="upload-title">Upload Your Files</h1>
        <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
            <label for="files">Choose a file:</label>
            <input type="file" id="fileUpload" name="files" required multiple>
            <button type="submit" class="upload-btn">Upload</button>
        </form>
        <div class="progress-bar">
            <div class="progress-fill"></div>
        </div>
    </div>

    <script src="/static/js/uplod.js"></script>
</body>
</html>
